#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.title-text {
  z-index: 50;
}

.dashboard-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(36, 36, 36, 0.99);
  z-index: 1000;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.intro-background-container {
  height: 100vh; /* Adjust height as needed */
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Ensure text is visible on black background */
}

.portfolio-background-container {
  background-color: #00010a;
  height: 100vh; /* Adjust height as needed */
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Ensure text is visible on black background */
}

.portfolio-container {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}

.contact-container {
  background-color: rgba(36, 36, 36);
  display: flex;
  flex-direction: column;
  height: 15vw;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

#tsparticles {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}