#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: 1.2rem;
}

.title-text {
  z-index: 50;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.intro-background-container {
  height: 100vh; /* Adjust height as needed */
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Ensure text is visible on black background */
}

.about-background-container {
  background-color: #00020f;
  height: 85vh;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: white;
}

.skills-background-container {
  background-color: #00020f;
  height: 85vh; /* Adjust height as needed */
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: white; /* Ensure text is visible on black background */
}

.portfolio-background-container {
  background-color: #00020f;
  height: 110vh; /* Adjust height as needed */
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: white; /* Ensure text is visible on black background */
}

.portfolio-container {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.contact-container {
  background-color: rgba(36, 36, 36);
  display: flex;
  flex-direction: column;
  height: 15vw;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.no-select {
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
}

#tsparticles {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

